<style>
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
</style>

<div id="side">
    <div class="side img">
        <img id="horse2" src="/assets/images/DerpWiggle.gif">
        <img id="horse" src="/assets/images/flutterClap.gif">
        <img id="ufo" src="/assets/images/ufo2.gif">
        <a href="/"><img style="margin:15px 0 0 0;position: relative;" src="/assets/images/sittin.png" width="220px"></A>
    </div>
    <audio id="music" src="test"></audio>
    <button style="background-color:transparent; color: white; font-family:ms gothic; border:0px; width:235px; margin-left:-5px; font-size:18px" onclick="playpause()">
    <div class="button">&#9654; <marquee id="songLabel" style="width:180px; font-size:18px; font-family:ms gothic; margin-bottom:-5px; background:transparent;">PLAY SOME TUNES!! </marquee></div></button>
    <select name="songselect" id="songselect">
        <option value="mememe by 100 gecs">mememe by 100 gecs</option>
        <option value="Cheerleader by Porter Robinson">Cheerleader by Porter Robinson</option>
        <option value="Knock Yourself out XD by Porter Robinson">Knock Yourself out XD by Porter Robinson</option>
        <option value="Darude - Sandstorm">Darude - Sandstorm</option>
        <option value="THE CONCEPT OF LOVE by Hideki Naganuma">THE CONCEPT OF LOVE by Hideki Naganuma</option>
        <option value="ANTONYMPH by Vylet Pony">ANTONYMPH by Vylet Pony</option>
        <option value="Bring it! Sailor Uniform by Lucky☆Star">Bring it! Sailor Uniform by Lucky☆Star</option>
        <option value="Going Digital by Jason Radford">Going Digital by Jason Radford</option>
        <option value="Russian Roulette by Porter Robinson">Russian Roulette by Porter Robinson</option>
        <option value="Touch Grass by Nurse Joy">Touch Grass by Nurse Joy</option>
    </select>
    
    <script>
        let player = document.getElementById("music"); //the audio id
        let btn = document.getElementById("btn"); //the button id
        let songselection;
        isPlaying = false; //set to false because it is not playing yet

        let songs = {
            'mememe by 100 gecs': 'https://files.catbox.moe/ltmpmb.mp3',
            'Cheerleader by Porter Robinson': 'https://files.catbox.moe/mpckrt.mp3',
            'Knock Yourself out XD by Porter Robinson': 'https://files.catbox.moe/dsliwp.mp3',
            'Darude - Sandstorm': 'https://media.djlunatique.com/2022/02/Rick-Roll-Sound-Effect.mp3',
            'THE CONCEPT OF LOVE by Hideki Naganuma': 'https://files.catbox.moe/u88y2c.mp3',
            'ANTONYMPH by Vylet Pony': 'https://files.catbox.moe/gjlvnv.mp3',
            'Bring it! Sailor Uniform by Lucky☆Star': 'https://files.catbox.moe/qh53jw.mp3',
            'Going Digital by Jason Radford': 'https://files.catbox.moe/urw1ul.mp3',
            'Russian Roulette by Porter Robinson': 'https://files.catbox.moe/pvcue5.mp3',
            'Touch Grass by Nurse Joy': 'https://files.catbox.moe/aq0edv.mp3'
        };
    
        function playpause() {
            if (!isPlaying) play(); //if isPlaying is false, then play the music
            else pause(); //if isPlaying is true, then pause the music
        }
    
        function play(){
            songselection = document.getElementById('songselect').value;
            loadSong(songselection);
            player.volume = 0.04;
            player.play(); //play the music
            isPlaying = true; //set to true because the music is playing
            btn.innerHTML = "pause"; //change the button to say pause
        }
    
        function pause(){
            player.pause(); //pause the music
            isPlaying = false; //set to false because the music is not playing
            btn.innerHTML = "play"; //change the button to say play
        }
    
        player.onended = function(){
            isPlaying = false; //the song has ended, isPlaying is false
            btn.innerHTML = "play"; //change the button to say play
        }

        function loadSong(songName) {
            console.log(songs[songName]);
            var player=document.getElementById('player');
            var sourceMp3=document.getElementById('music');
            document.getElementById('songLabel').innerText=songName;
            sourceMp3.src=songs[songName];
        }
    
    </script>
    <center><p style="font-size: 10px; color: #FFFFFF";>Click the little rat for more songs!   ^^^</p></center>
    <center><img src="/assets/images/online.gif" width=50px> </center>
        <center>
            <a href="https://nuclearlala.atabook.org"> <img src="/assets/images/book.gif"></a> <a href="https://nuclearlala.neocities.org"> <img src="/assets/images/ratbuttonsmol.gif"></a> <br>
            <a href="/index.html"><img src="/assets/buttons/newhome.gif"></a>

            <img src="/assets/images/starsdivider.gif" width=300px style="padding: 20px 0 20px 0;">
        </center>
    <center>  
     
        
        <div class="row">
            <div class="column">
                <img src="/assets/buttons/blog header.png">       
                <a href="/blog.html"><img src="/assets/buttons/blog.gif"></a> 
                <a href="/about.html"><img src="/assets/buttons/about.gif"></a>
                <a href="/category/thrift/"><img src="/assets/buttons/thrift.gif"></a>   
                <a href="/blorbos.html"><img src="/assets/buttons/blorbos.gif"></a>
            </div>
            <div class="column">
                <img src="/assets/buttons/art header.png">
                <a href="/art.html"><img src="/assets/buttons/art.gif"></a> 
                <a href="/comic.html"><img src="/assets/buttons/comic.gif"></a> 
                <a href="/mods.html"><img src="/assets/buttons/mods.gif"></a> 
            </div>
          </div>



    <br>
    <img src="/assets/images/starsdivider.gif" width=300px style="padding: 20px 0 20px 0;">

    <a href="https://youtu.be/_jlhuAUtQQU"><img src="/assets/images/aliens.gif"></a>
    <img src="/assets/images/haunting.gif">
    <img src="/assets/images/alone.gif">
    <img src="/assets/images/crash.gif">
    <img src="/assets/images/crypto.gif">
    <a href="https://mulderlover.neocities.org"><img src="/assets/images/truthisoutthere.gif"></a>
    <img src="/assets/images/if you.gif"width="150px">
    <a href="https://www.youtube.com/watch?v=0n66m-cUUzA"><img src="/assets/images/boys2.gif"></a>  
    <img src="/assets/images/boys.gif" width="150px">
    <img src="/assets/images/dickout.gif">
    <img src="/assets/images/gamecube blinky.gif">
    <a href="https://www.youtube.com/watch?v=i2VA460ufOY"><img src="/assets/images/finfin.gif"></a>
    <img src="/assets/images/ghost.gif">
    <img src="/assets/images/loch.gif">
    <img src="/assets/images/normal.gif">
    <img src="/assets/images/dvd.gif">
    <a href="https://github.com/yt-dlp"><img src="/assets/images/yown.gif"></a>
    <a href="https://youtu.be/GcKq9EfepfM"><img src="/assets/images/getsilly.gif"></a>   
    <a href="https://youtu.be/7x8QqnRK22k"><img src="/assets/images/falloutboy.gif"></a>   

    <marquee>
        <img src="/assets/images/hamsterbuddies.gif">
        <img src="/assets/images/gb.gif">
        <img src="/assets/images/half-life.gif">
        <img src="/assets/images/animbutton1.gif">
        <img src="/assets/images/vgn1.gif">
        <img src="/assets/images/h-free-anim.gif">
        <img src="/assets/images/tiredalien2.gif">
        <img src="/assets/images/newlambda.gif">
        <img src="/assets/images/freeps2.gif">
        <img src="/assets/images/webmaster.gif">
        <img src="/assets/images/iwant.jpg">
        <img src="/assets/images/freeman.gif">
        <img src="/assets/images/grizz.jpg">
        <img src="/assets/images/anime1000.gif">
        <img src="/assets/images/DC.gif">
        <img src="/assets/images/acww.gif">
        <img src="/assets/images/neo.gif">
        <img src="/assets/images/powercirno.gif">
        <img src="/assets/images/jirachi.gif">
        <img src="/assets/images/webattack.gif">
        <img src="/assets/images/acab.gif">
        <img src="/assets/images/drpepper.gif">
        <img src="/assets/images/area51.gif">
        <img src="/assets/images/DigimonEvolution.gif">
  </marquee>

    <marquee>
        <img src="/assets/images/tf2.jpg">
        <img src="/assets/images/pyro.jpg">
        <img src="/assets/images/yumenikki.gif">
        <img src="/assets/images/slash.gif">
        <img src="/assets/images/icw_pje.gif">
        <img src="/assets/images/games3.gif">
        <img src="/assets/images/digitalempirebutton.gif">
        <img src="/assets/images/bunbrowser.gif">
        <img src="/assets/images/bob.gif">
        <img src="/assets/images/mouse.gif">
        <img src="/assets/images/halloween1.gif">
        <img src="/assets/images/port.png">
        <img src="/assets/images/gamesmachine88x31.gif">
        <img src="/assets/images/tal.png">
        <img src="/assets/images/dbd.png">
        <img src="/assets/images/obsession.png">
    </marquee>

    <br>
    <img src="/assets/images/starsdivider.gif" width=300px style="padding: 20px 0 20px 0;">

    </center>

    <div id="desc">
    Lala ⭐ he/him ⭐ Artist, wannabe animator, gay idiot, collector of plushes and occasional speedrunner⭐
    
    <br>
    <img src="/assets/images/starsdivider.gif" width=300px style="padding: 20px 0 20px 0;">
    <br>

    <center> 
    <img src="/assets/images/borgor.gif">
    <img src="/assets/images/penis.jpg">
    <img src="/assets/images/nyanstamp.gif">
    <img src="/assets/images/chao.png">
    <img src="/assets/images/heartpokes.gif">
    <img src="/assets/images/horror.png">
    <a href="https://www.youtube.com/shorts/RFOh9ophYXE"><img src="/assets/images/fish.gif"></a>  
    <img src="/assets/images/actsilly.png">
    <a href="https://youtu.be/Sx0XMmnxckg"><img src="/assets/images/l4d2.png"></a>  
    <img src="/assets/images/xp.png">
    <img src="/assets/images/skittles.png">
    <img src="/assets/images/nuggies.png">
    <img src="/assets/images/rabbit.png">
    <a href="https://youtu.be/Pg3tJmBQrt4"><img src="/assets/images/mothman.png"></a>  
    <img src="/assets/images/gotaman.png">
    <img src="/assets/images/ring.gif">
    <a href="https://youtu.be/XzuGsgSTUt4"><img src="/assets/images/myers.gif"></a>  
    <a href="https://www.youtube.com/watch?v=z0xEnhNNx5k"><img src="/assets/images/screambutton.gif"></a>  
    <a href="https://www.youtube.com/watch?v=F-omAqI1Phc"><img src="/assets/images/ghostie.gif"></a>  
    <img src="/assets/images/360.gif">
    <img src="/assets/images/maze.gif">
    <img src="/assets/images/mooshroom.gif">
    <img src="/assets/images/ufospin.gif">
    <img src="/assets/images/glorp.png">

   
    <br>
    <img src="/assets/images/zim cancelled.gif">
    </center>
    </div>
    </div>
</div>