---
layout: default
---

<!--
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/comic.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
-->
    <h1> <center> An important note, while you can view this page on Mobile, It's best viewed on desktop! <img src="/assets/images/bestdesktop.gif"> </center> </h1>

        <div id="comiccontainer">
            <!-- header html here -->
    
            <div id="comicnavigator">
                <a href="https://nuclearlala.neocities.org/comic/2024-10-21-1-fool-proof">first</a>
                {% if page.previous.url %}
                    <a href="{{ site.baseurl }}{{ page.previous.url }}">previous</a>
                {% endif %}
                {% if page.latest %}
                    <a href="{{ site.baseurl }}{{ site.comic.last.previous.url }}">previous</a>
                {% endif %}
                {% if page.next.url %}
                    <a href="{{ site.baseurl }}{{ page.next.url }}">next</a>
                {% endif %}
                <a href=".">latest</a>
            </div>

            <div id="comiccontent">
                {{ content }}
            </div>

            <div id="comicnavigator">
                <a href="https://nuclearlala.neocities.org/comic/2024-10-21-1-fool-proof">first</a>
                {% if page.previous.url %}
                    <a href="{{ site.baseurl }}{{ page.previous.url }}">previous</a>
                {% endif %}
                {% if page.latest %}
                    <a href="{{ site.baseurl }}{{ site.comic.last.previous.url }}">previous</a>
                {% endif %}
                {% if page.next.url %}
                    <a href="{{ site.baseurl }}{{ page.next.url }}">next</a>
                {% endif %}
                <a href=".">latest</a>
            </div>

            <div style="width: 50%; margin-left: auto; margin-right: auto">
                <p style="text-align:left"><span style="font-size: 20px;">{{ page.title }}</span></br> by {{ page.author }} on {{ page.date | date_to_string | date: "%b. %d, %Y" | downcase }}</p>
                {% if page.description %}
                    <p style="text-align:left">{{ page.description }}</span>
                {% endif %}
            </div>
        </div>
        <!-- footer goes here -->

