<!DOCTYPE HTML>
<html>
<head>
 
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    <meta charset="utf-8">

    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body style="font-family: Comic Sans, Comic Sans MS">
    <table cellspacing=0>
        <tr>
            <td id="sidebar">   
                {% include sidebar.html %}
            </td>
            <td id="transwrongs">
                <div id="wrapper">
                    <img src="/assets/images/rat1.gif" width=150px style="padding-bottom: 40px;"> <img src="/assets/images/rat.gif"> <img src="/assets/images/rat2.gif" width=150px style="padding-bottom: 40px;">
                   <div id="content">
                    {{ content }}
                   </div>
                </div>
                
 
            </td>
        </tr>
    </table>
</body>
</html>