<!DOCTYPE HTML>
<html>
<head>
 
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    <meta charset="utf-8">
    <meta property="og:description" content="{% if page.is_post %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta content="#FFCDD6" data-react-helmet="true" name="theme-color" />
    <script src="/assets/js/tinkerbell.js"></script>
    <link rel="icon" type="image/png" href="/favicon.png" />

    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body style="font-family: Comic Sans, Comic Sans MS">
    <table cellspacing=0>
        <tr>
            <td id="sidebar">   
                {% include sidebar.html %}
            </td>
            <td id="transwrongs">
                <div id="wrapper">
                    <div class="imgbox">
                            <img class="center-fit1" src="/assets/images/rat1.gif"> <img class="center-fit" src="/assets/images/rat.gif"> <img class="center-fit1" src="/assets/images/rat2.gif">
                    </div>
                        <div id="content">
                            {{ content }}
                        </div>
                   <center><img src="/assets/images/20cash.gif" id="cash"></center>
                </div>
            </td>
        </tr>
    </table>
<img src="/assets/images/sleepy.png" id="sleepy">


</body>
</html>